/*=====================================================*/
/*Fonts*/
@font-face {
    src: url('../fonts/NunitoSans-Regular.ttf');
    font-family: "Nunito Sans";
}

@font-face {
    src: url('../fonts/YesevaOne-Regular.ttf');
    font-family: "YesevaOne";
}
/*=====================================================*/
/*Tags*/
body {
    margin: 0;
    font-family: "Nunito Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;

}

body * {
    box-sizing: border-box;
}

span {
    color: #E3B873;
}

a {
    color: white;
    text-decoration: none;
}
h1 {
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
}

/*=====================================================*/
/*Header*/

.button {
    background: #E3B873;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    color: white;
    font-family: "Nunito Sans", Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    outline: none;
    padding: 13px 33px;
    cursor: pointer;
    border: 2px solid #E3B873;
    transition: all .218s ease 0s;
}

/*Подцветка кнопки при наведении*/
.button:hover {
    color: white;
    border: 1px solid #ffa812;
    background: #ffa812 linear-gradient(#ffa812, #d89b3a);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

/*Эффект нажатия кнопки*/
.button:active {
    color: white;
    border: 1px solid #f1bb65;
    background: #deb887 linear-gradient(#d89b3a, rgb(224,224,224));
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

.header {
    font-size: 11px;
    line-height: 15px;
    position: sticky;
    background: black;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}
.header-content {
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
    color: white;
    text-decoration: none;
}

.header-navigation__item:hover, a:hover {
    color: #E3B873;
}

.logo {
    text-transform: uppercase;
}

.phone {
    text-align: right;
    text-decoration-line: underline;
}

/*=====================================================*/
/*section welcome*/

.welcome {
    background-image: url("../images/room.jpg");
    background-size: cover;
    height: 707px;
    position: relative;
}

.welcome-content {
    display: block;
    padding-left: 134px;
    padding-top: 194px;
    position: relative;
    z-index: 1;
}

.welcome-title {
    margin-top: 0;
    margin-bottom: 19px;
    font-family: "YesevaOne", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 676px;
    height: 105px;
}

.welcome-dark-img {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.welcome-text {
    margin-top: 0;
    margin-bottom: 41px;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    width: 504px;
    height: 89px;
}

.welcome-submit {
    margin-left: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #FFFFFF;
}
.welcome-submit, .calculate-submit {
    padding: 13px 42px;
}
/*=====================================================*/
/*section slider*/

.slider {
    background-color: #131313;
    background-size: cover;
    position: relative;
    /*height: 707px;*/
    height: 1074px;
}

.slider-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider-navigation {
    font-family: "YesevaOne", Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    padding-top: 107px;
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: auto;
}

.slider-navigation__item {
   padding-right: 60px;
   align-self: center;
}

/*TODO!!!!!!!!!!!!!!! найти повторы и объединить*/
.slider-navigation__item:hover {
    color: #E3B873;
}
.slider-navigation__item:hover > .underline {
    color: #E3B873;
    visibility: visible;
}

.slider-image {
    padding-top: 32px;
}

.underline {
    position: relative;
    border-width: 1px;
    border-style: solid;
    visibility: hidden;
}

/*TODO убрать или подумать над назначением*/
.slider-info {
    /*display: flex;*/
}

.slider-project {
    font-family: "YesevaOne", Arial, sans-serif;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}
.slider-project-info {
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    padding-top: 34px;
}

.slider-room-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.slider-room-info__item {
    width: 50%;
    height: 50%;
}

.param-name {
    font-family: "YesevaOne", Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.param-value {
    color: #FFFFFF;
    font-size: 13px;
    line-height: 21px;
    padding-top: 9px;
}

.slider-radio {
    padding-top: 55px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
}
input {
    display: none;
}

input:checked + .radio, .radio:hover {
    background: white;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
}

.radio{
    cursor: pointer;
    position: relative;
    width: 8px;
    height: 8px;
    margin: 10px;
    border-radius: 100%;
    transition: all .15s ease;
}

.radio:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.3);
    opacity: .5;
}

.radio:active {
    background: transparent;
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.3)
}

.arrow {
    cursor: pointer;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    display: flex;
    width: 40px;
    height: 1px;
    top: 14px;
}
.arrow:after, .arrow:before  {
    content: '';
    position: absolute;
    width: 8px;
    height: 1px;
    background-color: #FFFFFF;
}
.arrow:after {
    top: -2px;
}

.arrow:before {
    top: 2px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

.arrow-right:after, .arrow-right:before {
    right: 0;
}
.arrow-right:after {
    transform: rotate(25deg);
}

.arrow-right:before {
    transform: rotate(-25deg);
}

.arrow-indent-right {
    margin-left: 30px;
}

.arrow-left:after, .arrow-left:before {
    left: 0;
}
.arrow-left:after {
    transform: rotate(155deg);
}
.arrow-left:before {
    transform: rotate(-155deg);
}

.arrow-indent-left {
    margin-right: 30px;
}

.arrow:hover {
    animation: arrow 1s linear infinite;
}
@keyframes arrow {
    0% {
        left:0;
    }
    50% {
        left:5px;
    }
    100% {
        left:0;
    }
}
/*=====================================================*/
/*section online-control*/

.online-control {
    height: 1072px;
    position: relative;
}
/*TODO добавть наложение на предыдущую секцию*/
.online-control-container {
    z-index: 1;
    margin-top: -298px;
}

.online-control-title {
    font-family: "Yeseva One", Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 13px;
    color: #FFFFFF;
}

.svg-image {
    margin-bottom: 31px;
    display: flex;
    justify-content: center;
}

.separator-line {
    position: relative;
    top: 15px;
    background: #E3B873;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    display: flex;
    width: 32px;
    height: 1px;
    margin: 0 10px 0;
}

.camera-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.camera-separator-line {
    margin-top: 63px;
    width: 55px;
    height: 1px;
    position: center;
    background: #E3B873;
}

.camera-text {
    margin-top: 35px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.wrap-form {
    margin: 92px 336px 33px;
}

.online-form-info{
    display: flex;
    justify-content: center;
}

input {
    margin: 0;
    border: none;
    outline: none;
    overflow: visible;
    touch-action: manipulation;
}

.wrap-input {
    border-bottom: 2px solid #d9d9d9;
    position: relative;
    margin-right: 58px;
}

.label-info {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    display: block;
    pointer-events: none;
}

.input-text {
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    display: block;
    width: 231px;
}

.submit-info {
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
    width: 250px;
    padding: 13px 70px;
}

.wrap-checkbox {
    margin-top: 33px;
    /*margin-bottom: 148px;*/
    display: flex;
    justify-content: center;
}

.agreement-checkbox {
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

.agreement-checkbox+label {
    display: flex;
    position: relative;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.agreement-checkbox+label::before {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.agreement-checkbox:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
}

/*=====================================================*/
/*section type-repair*/

.type-repair {
    height: 1680px;
    position: relative;
}

.type-repair-container {
}

.type-repair-title {
    font-family: "Yeseva One", Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;

}.wrap-repair-container {
     display: flex;
     justify-content: center;
     width: 1236px;
     height: 608px;
     margin-left: 103px;
 }

 .repair-info {
     width: 330px;
     height: 286px;
     background: #FFFFFF;
     box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     margin: 294px 31px 0;
     position: absolute;
     top: 0;
 }

 .wrap-repair-info {
     position: relative;
     margin-right: 30px;
 }

 .repair-work-name {
     font-family: "Yeseva One", Arial, sans-serif;
     font-size: 18px;
     line-height: 25px;
     color: #363636;
     margin: 25px 0 13px 34px;
 }

 .repair-options {
     font-size: 13px;
     line-height: 27px;
     color: #959595;
     margin: 0;
     padding-left: 50px;
 }
 .repair-coast {
     width: 228px;
     height: 54px;
     background: #E3B873;
     box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
     position: absolute;
     font-family: "Yeseva One", Arial, sans-serif;
     text-align: center;
     text-transform: uppercase;
     font-size: 18px;
     line-height: 25px;
     color: #FFFFFF;
     bottom: 0;
     margin: 0 31px 0;
 }

 .wrap-repair-clause {
     margin-top: 124px;
     display: flex;
 }

 .repair-clause-info {
     width: 470px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     margin-left: auto;
 }

 .repair-clause-container {
     width: 703px;
     height: 645px;
     background-image: url("../images/home_facade.png");
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
 }

 .repair-clause-info__item {
     position: relative;
     background: #E3B873;
     border: 8px solid #FFFFFF;
     box-shadow: 0 5px 15px rgba(227, 184, 115, 0.15);
     border-radius: 50%;
     width: 60px;
     height: 60px;

     font-size: 18px;
     line-height: 25px;
     text-align: center;
     color: #FFFFFF;
     font-family: "Yeseva One", Arial, sans-serif;
     padding: 10px;
 }

 .repair-clause-text {
     margin: 0;
     padding: 17px;
     font-size: 14px;
     line-height: 19px;
     color: #363636;
 }

 .repair-form {
     width: 506px;
     height: 509px;
     margin-left: 131px;
     /*background-color: #131313;*/
     box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
 }
.repair-form-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 58px;

}
.wrap-repair-input {
    border-bottom: 2px solid #d9d9d9;
    position: relative;
}
 .repair-checkbox {
     color: #FFFFFF;
 }